h1{
    color: white;
    text-align: center;
    vertical-align: top;
}

body{
    background-color: lightblue;
}

/* Page Header */
.header {
    background: #111;
    color: #00eaff;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

/* Game Grid */
.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
}

.game-card {
    text-align: center;
    text-decoration: none;
    color: white;
    background: #222;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.game-card img {
    width: 100%;
    border-radius: 10px;
}

.game-card:hover {
    transform: scale(1.05);
    background: #333;
}

/* Game Container */
.game-container {
    margin: 40px auto;
    width: 90%;
    max-width: 1000px;
    position: relative;
}



/* Iframe Styling */
iframe {
    width: 100%;
    height: 600px;
    border: none;
    margin-top: 40px; /* pushes iframe below custom bar */
}
main{
    flex: 1;    
}



button{
    font-family: lobster, cursive;
    font-size: 20px;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

html, body {
  height: 100%;
  margin: 0;
}